@font-face {
    font-family: 'avenir-black';
    src: url('../fonts/AvenirLTStd-Black.otf');
}

@font-face {
    font-family: 'avenir-roman';
    src: url('../fonts/AvenirLTStd-Roman.otf');
}

@font-face {
    font-family: 'avenir-book';
    src: url('../fonts/AvenirLTStd-Book.otf');
}

body {
    /* FONT STYLES */
    --fs-xl: 50px; 
    --fs-lg: 36px; 
    --fs-md: 24px; 
    --fs-base: 18px; 
    --fs-sm: 14px; 
    --fs-xsm: 10px;

    /* COLORS */ 
    --cl-ppn-main-h: 243;
    --cl-ppn-main-s: 100%;
    --cl-ppn-main-l: 66%;
    --cl-ppn-main: hsla(var(--cl-ppn-main-h), var(--cl-ppn-main-s), var(--cl-ppn-main-l), 1); 
    --cl-ppn-main-50: hsla(var(--cl-ppn-main-h), var(--cl-ppn-main-s), var(--cl-ppn-main-l), 0.5); 

    --cl-ppn-medium: hsla(var(--cl-ppn-main-h), var(--cl-ppn-main-s), var(--cl-ppn-main-l), 0.15); 
    --cl-ppn-light: hsla(var(--cl-ppn-main-h), var(--cl-ppn-main-s), var(--cl-ppn-main-l), 0.02); 
    --cl-ppn-light-hovered: hsla(var(--cl-ppn-main-h), var(--cl-ppn-main-s), var(--cl-ppn-main-l), 0.03); 

    --cl-black-h: 0;
    --cl-black-s: 0%;
    --cl-black-l: 0%;
    --cl-black: rgba(var(--cl-black-r), var(--cl-black-s), var(--cl-black-l), 1); 

    --cl-txt-black: hsla(var(--cl-black-h), var(--cl-black-s), var(--cl-black-l), 0.9); 
    --cl-txt-dark-grey: hsla(var(--cl-black-h), var(--cl-black-s), var(--cl-black-l), 0.6); 
    --cl-txt-grey: hsla(var(--cl-black-h), var(--cl-black-s), var(--cl-black-l), 0.5); 
    --cl-txt-light-grey: hsla(var(--cl-black-h), var(--cl-black-s), var(--cl-black-l), 0.25);
    --cl-br: hsla(var(--cl-black-h), var(--cl-black-s), var(--cl-black-l), 0.10);

    /* PADDING */
    --pad-lg: 50px; 
    --pad-md: 20px; 
    --pad-sm: 20px;
    --pad-xsm: 10px;

    /* MARGINS */
    --mg-lg: 50px;
    --mg-md: 20px;
    --mg-sm: 10px;

    /* BORDERS */
    --br-md: 10px;


    /* GENERAL FONT-STYLE */
    font-family: 'avenir-book'; 

    /* HEIGHT */
    min-height: 100vh; 

    margin: 0;
}

:is(p , h1 , h2)  {
    color: var(--cl-txt-black); 
    padding: 0;
    margin: 0; 
}


/* HELPER CLASSES
 ______________________________________________________________  */

/* Font */
.fs-xl {
    font-size: var(--fs-xl); 
}

.fs-lg {
    font-size: var(--fs-lg); 
}

.fs-md {
    font-size: var(--fs-md); 
}

.fs-base {
    font-size: var(--fs-base); 
}

.fs-sm {
    font-size: var(--fs-sm); 
}

.fs-xsm {
    font-size: var(--fs-xsm);
}

.fs-semibold {
    font-family: 'avenir-roman';
}

.fs-bold {
    font-family: 'avenir-black';
}

.fs-cl-ppn {
    color: var(--cl-ppn-main);
}

.fc-grey-dark {
    color: var(--cl-txt-dark-grey);
}