body {
    --header-height: 60px; 
    --nav-side-width: 300px;
}

.main-layout {
    display: grid;
    grid-template-columns: var(--nav-side-width) auto;
}

.content-container {
    min-height: 100vh;
    padding: 60px; 
    max-width: 1200px;
}

.loader {
    position: fixed;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
    background-color: #FFF6ED;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}


/* MEDIA QUERIES MOBILE */ 
@media screen and (max-width: 1000px) {
    body {
       --header-height: 60px;
    }

    .main-layout {
        display: block; 
        grid-template-columns: 100%;
    }

    .content-container {
        display: block;
        width: 90vw;
        margin: 0 var(--mg-md);
        padding: 0;
    }
}