.nav-side {
    position: fixed;
    z-index: 0; 
    top: 0;
    left: 0; 
    width: var(--nav-side-width);
    min-height: 100vh; 
    background: var(--cl-ppn-light);
}

.nav-side .nav-side__list {
    margin-top: 150px; 
    padding-inline-start: 0px;
    padding-right: var(--pad-lg);
}

.nav-side .nav-side__item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px; 
    list-style-type: none;
    text-decoration: none;
}

.nav-side .nav-side__item:before {
    content: ""; 
    z-index: 0; 
    position: absolute;
    top: 50%;
    left: 0; 
    height: 50px;
    width: 100%;
    border-radius: 0 25px 25px 0;
    opacity: 0;
    background: var(--cl-ppn-medium);
    transform: translateY(-50%);
    transition: opacity 0.5s ease; 
}

.nav-side__item.item--focus:before {
    opacity: 1; 

}

.nav-side__item.item--focus .nav-side__link {
    color: var(--cl-ppn-main);
}

.nav-side .nav-side__link {
    z-index: 10;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--fs-base);
    color: var(--cl-txt-dark-grey);
    transition: color 0.3s;
    background-repeat: no-repeat;
    padding-left: var(--pad-lg);
    padding-top: var(--pad-xsm);
    margin-left: var(--pad-md);
}

.nav-side .nav-side__link:hover {
    color: var(--cl-black); 
}

.background-icon-home{
    background-image: url("../img/icon-home.svg");
}

.background-icon-docs{
    background-image: url("../img/icon-docs.svg");
}

.background-icon-truck{
    background-image: url("../img/icon-truck.svg");
}

.background-icon-faq{
    background-image: url("../img/icon-faq.svg");
}

.background-icon-qna{
    background-image: url("../img/icon-qna.svg");
}

.background-icon-person{
    background-image: url("../img/icon-person.svg");
}

/* MEDIA QUERIES MOBILE */ 
@media screen and (max-width: 1000px) {
    .nav-side {
        display: none;
        z-index: 20;
        width: 60%;
        min-width: 200px;
    }
}