.nav-side {
    position: fixed;
    z-index: 0; 
    top: 0;
    left: 0; 
    width: var(--nav-side-width);
    min-height: 100vh; 
    background: var(--cl-ppn-light);
}

.nav-side .nav-side__list {
    margin-top: 150px; 
    padding-inline-start: 0px;
    padding-right: var(--pad-lg);
}

.nav-side .nav-side__item {
    position: relative;
    display: grid;
    flex-direction: row;
    align-items: center;
    height: 60px; 
    list-style-type: none;
    text-decoration: none;
}

.nav-side .nav-side__item:before {
    content: ""; 
    z-index: 0; 
    position: absolute;
    top: 50%;
    left: 0; 
    height: 50px;
    width: 100%;
    border-radius: 0 25px 25px 0;
    opacity: 0;
    background: var(--cl-ppn-medium);
    transform: translateY(-50%);
    transition: opacity 0.5s ease; 
}

.nav-side__item.item--focus:before {
    opacity: 1; 

}

.nav-side__item.item--focus .nav-side__link {
    color: var(--cl-ppn-main);
}

.nav-side .nav-side__link {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 10;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--fs-base);
    color: var(--cl-txt-dark-grey);
    transition: color 0.3s;
    background-repeat: no-repeat;
    padding-left: var(--pad-lg);
}

.nav-side .nav-side__link:hover {
    color: var(--cl-black); 
}

.item__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    height: 22px;
    width: 22px;
    transform: translateY(-50%);
}

.link__final-move {
    display:none;
}


/* MEDIA QUERIES MOBILE */ 
@media screen and (max-width: 1000px) {
    .nav-side {
        z-index: 20;
        width: 70%;
        min-width: 220px;
        max-width: 400px;
        right: 0;
        left: auto;
        transform: translateX(100%); 
        opacity: 0; 
        transition: transform var(--tr-base), opacity var(--tr-fast); 
    }

    .nav-side .nav-side__list {
        padding-right: 0;
        padding-left: 30px;
        opacity: 0; 
        transition: opacity var(--tr-fast) var(--tr-fast); 
    }

    .nav-side.active .nav-side__list {
        opacity: 1; 
    }

    .nav-side.active {
        opacity: 1;
        transform: translateX(0%); 
    }

    .nav-side.active .nav-side__item {
        opacity: 1; 
        justify-content: flex-end;
    }   

    .nav-side .nav-side__link {
        padding-right: 50px;
        padding-left: 0; 
        text-align: end;
    }

    .nav-side .nav-side__item:before {
        border-radius: 25px 0px 0px 25px;
    } 

    .item__icon {
        right: 17px;
        left: auto; 
    }
}