.notification_wrap_outer{
    position: relative;
    height: 30px;
    width: 20px;
    top:-30px;
}

.notification_dropdown{
    position: absolute;
    z-index: 999;
    top: 30px;
    left: -250px;
    width: 340px;
    height: 300px;
    padding: var(--pad-sm);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: white;
    border-radius: 10px;
    visibility: hidden;
}

.notification_wrap_outer:hover .notification_dropdown{
    visibility: visible;
}

.notification_dropdown_title{
    color: #817BFE;
    font-size: 24px;
    font-weight: bold;
    visibility: inherit;
}